.disable-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none; 
}
li.current-menu-item:not(.menu-item-has-children) {
	pointer-events: none;
}
