.disable-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none; 
}
.container-fluid ul li a:active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: yellow;
}
